#toc__table-of-contents {
    background: rgb(0 0 0 / 15%);
    padding: 25px;
    border-radius: 5px;
}
#toc__table-of-contents .toc__title {
    font-size: 1.2em!important;
    margin: 0 0 10px!important;
}
#toc__table-of-contents ol {
    /* padding-left: 10px!important; */
    padding-left: 0px!important;
    margin: 0!important;
    list-style-type: none!important;
}
#toc__table-of-contents a.toc__link-visited {
    filter: brightness(0.8);
}
