#toc__container {
    display: inline-block;
    position: relative;
    background: var(--background, rgb(0 0 0 / 3%));
    padding: var(--padding, 14px 18px 18px);
    border-radius: var(--border-radius, 5px);
    border: var(--border, unset);
    margin: var(--margin, 32px 0);
    width: var(--width, auto);
}
#toc__container .toc__title {
    font-size: var(--title-size, 1rem)!important;
    margin: 0 0 6px!important;
    padding: 0 !important;
    line-height: unset;
}
#toc__container ol.toc__list {
    padding: 0!important;
    line-height: var(--line-height, revert-layer);
}
#toc__container ol {
    padding-left: var(--list-padding, 14px)!important;
    margin: 0!important;
    list-style-type: var(--list-style-type, none)!important;
    list-style-position: var(--list-style-position, inside)!important;
}
#toc__container ol ::marker {
    color: var(--list-marker-color, var(--link-color, currentColor));
}
#toc__container a.toc__link-visited {
    opacity: 0.7;
}
#toc__container a {
    cursor: pointer;
    box-shadow: none !important;
    border: none !important;
    text-decoration: none !important;
}
#toc__container .toc__list a:hover {
    text-decoration: none!important;
    border-bottom: 1px dotted !important;
}
#toc__container .toc__list-index {
    color: var(--index-color, currentColor);
}
