.toc__container {
    display: inline-block;
    position: relative;
    background: var(--toc__background, rgb(0 0 0 / 3%));
    padding: var(--toc__padding, 14px 18px 18px);
    border-radius: var(--toc__border-radius, 5px);
    border: var(--toc__border, unset);
    margin: var(--toc__margin, 32px 0);
    width: var(--toc__width, auto);
}
.toc__container .toc__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toc__container .toc__header .toc__toggle{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    transition: all 0.3s ease;
    margin-left: 10px;
}
.toc__container .toc__header .toc__toggle.toc__toggle-collapsed {
    transform: rotate(180deg);
}
.toc__container .toc__title {
    font-size: var(--toc__title-size, 100%)!important;
    margin: 0!important;
    padding: 0 !important;
    line-height: unset;
}
.toc__container ol.toc__list {
    margin: 6px 0 0 0!important;
    padding: 0!important;
    transition: var(--toc__transition, all 0.3s ease);
}
.toc__container ol {
    line-height: var(--toc__line-height, revert-layer)!important;
    padding-left: var(--toc__list-padding, 14px)!important;
    margin: 0!important;
    list-style-type: var(--toc__list-style-type, none)!important;
    list-style-position: var(--toc__list-style-position, inside)!important;
}
.toc__container ol ::marker {
    color: var(--toc__list-marker-color, var(--toc__link-color, currentColor));
}
.toc__container a.toc__link-visited {
    opacity: 0.7;
}
.toc__container a {
    cursor: pointer;
    box-shadow: none !important;
    border: none !important;
    text-decoration: none !important;
}
.toc__container .toc__list a:hover {
    text-decoration: none!important;
    border-bottom: 1px dotted !important;
}
.toc__container .toc__list-index {
    color: var(--toc__index-color, currentColor);
}

/* Toggle animations */

.toc__container ol.toc__list.toc__list-collapsed {
    display: none!important;
}
.toc__container ol.toc__list {
    animation: toc__appear 0.5s ease-in-out 1;
    transition-property: display, max-height;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    max-height: 1000px;
}
.toc__container ol.toc__list.toc__list-collapsed {
    animation: toc__disappear 0.5s ease-in-out 1;
    max-height: 0;
}
@keyframes toc__appear {
    from { opacity: 0; max-height: 0; }
    to { opacity: 1; max-height: 1000px; }
}
@keyframes toc__disappear {
    from { opacity: 1; max-height: 1000px; display: block!important; }
    to { opacity: 0; max-height: 0; display: none!important; }
}